html { 
    box-sizing: border-box; 
} 

*, *:before, *:after { 
    box-sizing: inherit; 
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

.pusher-wrapper {
    height: 100%;
    overflow: hidden;
}

.nav-toggler {
    position: fixed;
    top: 7.5px;
    right: 12.5px;
    z-index: 2;
    cursor: pointer;
    border: none;
    background: url('data:image/svg+xml;utf8,<svg height="32px" id="Layer_1" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/></svg>');
    height: 2em;
    width: 2em;
}

.site-header {
    text-transform: uppercase;
    display: flex;
}

@media (min-width: 56.25em) {
    .site-header {
        flex-direction: row;
        padding: 2em 0;
        justify-content: space-between;
        margin: 0 10%;
        flex-wrap: wrap;
    }
}

.site-header__title {
    font-size: 1em;
}

@media (max-width: 56.25em) {
    .site-nav-open .site-header__title {
        visibility: hidden;
    }
}

.site-header__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #555;
    margin: 0 auto;
    width: 9em;
}

.site-header__link::before {
    content: "";
    background: url('img/spritesheet.png') no-repeat; 
    background-position: -40px -479px; 
    width: 29px; 
    height: 29px;
}

@media (max-width: 56.25em) {
    .site-nav-open .nav-toggler {
        background: url(img/cancel.png);
        z-index: 2;
        cursor: pointer;
        width: 50px;
        height: 50px;
        right: 5%;
        background-size: cover;
    }
}

@media (min-width: 56.25em) {
    .nav-toggler {
        display: none;   
    }
}

@media (max-width: 56.25em) {
    .site-nav {
        position: fixed;
        font-weight: 700;
        background: rgba(0, 0, 0, 0.85);
        top: 0;
        left: 0;
        height: 100%;
        width: 70%;
        color: red;
        font-size: 2em;
        transform: translateX(-120%);
        transition: transform 0.7s ease-out;
        z-index: 1;
    }
}

@media (max-width: 26.25em) {
    .site-nav {
        font-size: 1.5em;
    }
}

@media (max-width: 56.25em) {
    .site-nav-open {
        overflow: hidden;
    }
}

@media (max-width: 56.25em) {
    .site-nav-open .site-nav {
        visibility: visible;
        transform: translateX(0);
    }
}

.site-nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 0 auto 2em;
    padding: 0;
}

@media (min-width: 56.25em) {
    .site-nav__list {
        margin: 0 auto;
        flex-direction: row;
        width: 100%;
        align-items: center;
        height: 100%;
    }
}

.site-nav__item {
    margin: 0.5em 1em 0;
    border-bottom: 1px solid #fff;
}

@media (min-width: 56.25em) {
    .site-nav__item {
        border-bottom: none;
        font-size: 0.875em;
        margin: 0 1em;
    }
}

.site-nav__link {
    color: #777;
    text-decoration: none;
}

@media (max-width: 56.25em) {
    .site-nav__link {
        color: #fff;
    }
}

.site-nav__link:hover, .site-nav__link:focus {
    color: #000;
}

@media (max-width: 56.25em) {
    .site-nav__link:hover, .site-nav__link:focus {
        color: #7cc576;
    }
}

.site-nav__link:active {
    position: relative;
    top: 1px;
}

@media (max-width: 56.25em) {
    .pusher {
        transition: transform 0.7s ease-out;
    }
}

@media (max-width: 56.25em) {
    .site-nav-open .pusher {
        transform: translateX(70%);
        transition: transform 0.7s ease-out;
    }
}

.home {
    padding: 1em 0 4em;
    text-align: center;
    color: #fff;
    background: url(img/home-background.png) center center / cover;
}

@media (min-width: 56.25em) {
    .home {
        height: 33.125em;
    }
}

.home__title {
    margin: 0;
    text-transform: uppercase;
    font-size: 2em;
}

@media (min-width: 56.25em) {
    .home__title {
        font-size: 3em;
        width: 10em;
        margin: 1.75em auto 0.25em;
    }
}

.home__description {
    margin-top: 0;
}

.home__button {
    height: 3.75em;
    width: 12.5em;
    font-weight: 700;
    color: #fff;
    margin: 2em auto 0;
}

.button:hover, .button:focus {
    color: #000;
    background-color: #fff;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2em;
    background-color: #7cc576;
    text-decoration: none;
    text-transform: uppercase;
}

.services {
    text-align: center;
}

@media (min-width: 56.25em) {
    .services {
         padding: 4em 0;
    }
}

.services__title {
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 1.75em;
}

@media (min-width: 56.25em) {
    .services__title {
        font-size: 2em;
    }
}

.services__description {
    margin-top: 0;
    margin-bottom: 2em;
    color: #777;
}

@media (min-width: 56.25em) {
    .services__description {
        margin-bottom: 5em;
    }
}

.services-item__title {
    text-transform: uppercase;
    font-size: 1.5em;
}

.services-item__description {
    color: #777;
}

@media (min-width: 56.25em) {
    .services-item__description {
        margin: 0 auto;
    }
}

@media (min-width: 56.25em) {
    .services__items {
        display: flex;
        max-width: 70em;
        margin: 0 auto;
    }
}

.services__services-item {
    margin: 0 auto 2em;
    width: 90%;
    border-bottom: 1px solid rgba(0,0,0,0.25);
}

@media (min-width: 56.25em) {
    .services__services-item {
        border-bottom: none;
        width: 30%;   
    }
}

.services-item__icon-wrapper {
    height: 3em;
}

.relax {
    background: url("img/relax-background.png") center center / cover;   
    color: #fff;
}

.relax-wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 1em 0;
}

@media (min-width: 56.25em) {
    .relax-wrapper {
        max-width: 42em;
    }
}

.relax__title {
    text-transform: uppercase;
    font-size: 1.5em;
}

@media (min-width: 56.25em) {
    .relax__title {
        font-size: 2.5em;
    }
}

.title--green {
    color: #7cc576;
}

.relax__description {
    color: #ccc;
}

@media (min-width: 56.25em) {
    .relax__description {
        max-width: 33em;
    }
}

.relax-list {
    padding-left: 0;
}

.relax-item {
    display: flex;
    align-items: center;
    padding: 0.2em;
    color: #ccc;
}

.relax-item__icon {
    flex-shrink: 0;
}

.relax-item__description {
    margin-left: 1em;
}

.relax__button {
    width: 170px;
    height: 64px;
    color: #fff;
    font-weight: 700;
    margin: 3em 0;
}

@media (min-width: 56.25em) {
    .project {
        height: 54em;
        background: url(img/project-background-desktop.png) center center / cover;
    }
}

.project-header__title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 2em;
}

@media (min-width: 56.25em) {
    .project-header__title {
        padding-top: 2em;
        margin-top: 0;
    }
}

.project-header__description {
    text-align: center;
    margin-top: 0;
    color: #777;
}

.project-body {
    width: 90%;
    margin: 2em auto;
    text-align: center;
}

@media (min-width: 56.25em) {
    .project-body {
        text-align: left;
        max-width: 32em;
        margin: 7em 0 0 15%;
    }
}

.project-body__title {
    text-transform: uppercase;
    margin-bottom: 0;
}

.project-body__description {
    margin-top: 0;
    color: #777;
}

@media (min-width: 56.25em) {
    .project-body__description {
        width: 90%;
        max-width: 27.1em;
    }
}

.project-list {
    padding-left: 0;
}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(0,0,0,0.25);
}

@media (min-width: 56.25em) {
    .project-item {
        flex-direction: row;
        border-bottom: none;
        padding-bottom: 0;
    }
}

.project-item__title {
    margin: 0;
}

@media (min-width: 56.25em) {
    .project-item__title {
        margin-left: 1em;
    }
}
        
.project-item__description {
    color: #777;
}

@media (min-width: 56.25em) {
    .project-item__description {
        margin-left: 1.2em;
    }
}
        
.project-body__footer {
    color: #777;
}

@media (min-width: 56.25em) {
    .project-body__footer {
        max-width: 28em;
    }
}

.project-body__link {
    color: #7cc576;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
}

.project-body__link:hover, .project-body__link:focus {
    border-bottom: 2px solid #7cc576;
}

.values {
    background-color: #f9f9f9;
    text-align: center;
}

@media (min-width: 56.25em) {
    .values {
        padding: 2.5em;
    }
}

.value-list { 
    list-style: none;
    padding-left: 0;
}

@media (min-width: 56.25em) {
    .value-list {
        display: flex;
        max-width: 70em;
        margin: 0 auto;
    }
}

.values__title {
    text-transform: uppercase;
    padding-top: 1em;
    margin-bottom: 0;
}

@media (min-width: 56.25em) {
    .values__title {
        font-size: 2em;
    }
}

.values__description {
    margin: 0 auto 2em;
    color: #777;
}

.value-item__title {
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

.value-item__description {
    color: #777;
}

.value-item {
    width: 90%;
    margin: 2em auto 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(0,0,0,0.25);
}

@media (min-width: 56.25em) {
    .value-item {
        border-bottom: none;
        width: 30%;
    }
}

.next-project {
    background-color: #7cc576;
    text-align: center;
    padding: 1em 0 2em;
}

@media (min-width: 56.25em) {
    .next-project {
        padding: 3em 0;
    }
}

.next-project__title {
    color: #fff;
    text-transform: uppercase;
}

@media (min-width: 56.25em) {
    .next-project__title {
        margin-top: 0;
    }
}

.next-project__button {
    width: 180px;
    height: 53px;
    color: #fff;
    margin: 0 auto;
    border: 2px solid #fff;
    border-radius: 5px;
    font-weight: 700;
}

.logos-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    list-style: none;
    padding-left: 0;
}

@media (min-width: 56.25em) {
    .logos-list {
        flex-direction: row;
        justify-content: space-between;
        max-width: 50em;
        margin: 3em auto;
    }
}

.logos__image {
    margin-bottom: 1em;
}

.contact {
    background-color: #222;
    color: #fff;
    padding-bottom: 1em;
}

@media (min-width: 56.25em) {
    .contact-wrapper {
        display: flex;
        width: 80%;
        max-width: 70em;
        margin: 2em auto;
    }
}

.contact-column {
    width: 90%;
    margin: 0 auto;
    padding: 1em 0 0;
}

@media (min-width: 56.25em) {
    .contact-column {
        width: 30%;
    }
}

.contact-column__title {
    text-transform: uppercase;
}

.contact-column__body {
    padding-left: 0;
}

.contact-column__item {
    display: flex;
    align-items: flex-start;
    margin: 1em 0 0;
}

.icon-wrapper {
    flex-basis: 2.2em;
    flex-shrink: 0;
}

.icon {
    flex-shrink: 0;
}

.item__description {
    text-decoration: none;
    color: #fff;
    font-style: normal;
}

.item__link {
    text-decoration: none;
    color: #fff;
}

.item__link:hover, item__link:focus {
    border-bottom: 1px solid #fff;
}

.icon-twitter {
    margin-right: 1em;
}

.site-footer {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 70em;
    margin: 0 auto;
    flex-wrap: wrap;
}

.site-footer__copyright {
    color: #555;
    margin: 1em 0;
}

.site-footer__list {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    width: 12em;
}

.site-footer__link:hover, .site-footer__link:focus {
    border-bottom: 3px solid #777;
}

.side-font {
    font-family: 'Roboto Slab', serif;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.logo-wordpress, .logo-microlancer, .logo-envato, .logo-aetuts, .icon-music, 
.icon-quality, .icon-star, .icon-shopping, .icon-seo, .icon-security, 
.icon-marketing, .icon-heart, .social-icon-twitter, .social-icon-facebook, .social-icon-pinterest, 
.social-icon-googleplus, .icon-tablet, .checkmark, .logo, .post-text-icon, 
.post-image-icon, .contact-icon-mail, .icon-twitter, .contact-icon-location, .contact-icon-phone, 
.post-movie-icon, .arrow
{ display: inline-block; background: url('img/spritesheet.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.logo-wordpress { background-position: -0px -0px; width: 186px; height: 42px; }
.logo-microlancer { background-position: -0px -42px; width: 167px; height: 42px; }
.logo-envato { background-position: -0px -84px; width: 161px; height: 30px; }
.logo-aetuts { background-position: -0px -114px; width: 131px; height: 41px; }
.icon-music { background-position: -0px -155px; width: 91px; height: 91px; }
.icon-quality { background-position: -91px -155px; width: 91px; height: 91px; }
.icon-star { background-position: -0px -246px; width: 91px; height: 91px; }
.icon-shopping { background-position: -91px -246px; width: 73px; height: 74px; }
.icon-seo { background-position: -91px -320px; width: 73px; height: 74px; }
.icon-security { background-position: -0px -337px; width: 73px; height: 74px; }
.icon-heart { background-position: -128px -394px; width: 54px; height: 48px; }
.icon-tablet { background-position: -0px -452px; width: 40px; height: 52px; }
.icon-marketing { background-position: -73px -394px; width: 55px; height: 44px; }
.social-icon-twitter { background-position: -0px -411px; width: 41px; height: 41px; }
.social-icon-facebook { background-position: -41px -438px; width: 41px; height: 41px; }
.social-icon-pinterest { background-position: -82px -438px; width: 41px; height: 41px; }
.social-icon-googleplus { background-position: -123px -442px; width: 41px; height: 41px; }
.checkmark { background-position: -131px -114px; width: 33px; height: 32px; }
.logo { background-position: -40px -479px; width: 29px; height: 29px; }
.post-text-icon { background-position: -41px -411px; width: 26px; height: 21px; }
.post-image-icon { background-position: -69px -479px; width: 26px; height: 23px; }
.contact-icon-mail { background-position: -161px -84px; width: 25px; height: 16px; }
.icon-twitter { background-position: -95px -479px; width: 24px; height: 18px; }
.contact-icon-location { background-position: -119px -483px; width: 23px; height: 31px; }
.contact-icon-phone { background-position: -164px -114px; width: 20px; height: 31px; }
.post-movie-icon { background-position: -167px -42px; width: 18px; height: 21px; }
.arrow { background-position: -167px -63px; width: 15px; height: 12px; }